[build]
  command = "npm ci && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  port = 5173
  publish = "dist"
  command = "npm run dev"

[build.environment]
  NODE_VERSION = "18.0.0"
  NPM_VERSION = "9.0.0"